:root {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 17px;
  background-color: white;
  color: rgb(198, 86, 88);
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

main {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

div {
  background-color: rgba(179, 179, 179, 0.45);
  padding: 1rem;
  margin: 2rem;
}

form {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

form > h2 {
  text-align: center;
}

input {
  padding: 0.45rem;
}

button {
  background-color: rgb(198, 86, 88);
  color: white;
  padding: 0.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  border-color: rgb(162, 75, 76);
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1.2rem;
}

#contact-info {
  font-size: 1.25rem;
  text-align: center;
  padding: 3rem;
}

#paynow {
  background: linear-gradient(180deg, rgba(198, 86, 88, 1) 0%, rgba(255, 255, 255, 1) 25%, rgba(252, 247, 247, 1) 73%, rgba(198, 86, 88, 1) 100%);
  border-color: rgb(162, 75, 76);
  font-weight: bold;
  padding: 0.35rem;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1.7rem;
  color: black;
}
