body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

form {
  padding: 3rem;
}

form > h2 {
  text-align: center;
}

label {
  font-size: 1.35rem;
}

input {
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 1.45rem;
  padding: 0.45rem;
  font-size: 1rem;
}

textarea {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1.15rem;
}

.required {
  color: red;
  font-size: 1.15rem;
}

#contact-info {
  font-size: 1.35rem;
  text-align: center;
  padding: 3rem;
}
