:root {
  background-color: white;
  color: rgb(198, 86, 88);
  font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 35%, rgba(179, 179, 179, 1) 89%, rgba(143, 143, 143, 1) 100%);
  box-shadow: 0 0 2rem #000;
  text-align: center;
}

nav {
  background: linear-gradient(180deg, rgba(254, 126, 128, 1) 0%, rgba(198, 86, 88, 1) 50%, rgba(91, 39, 40, 1) 100%);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  padding: 0.6rem;
}

nav > a {
  background-color: transparent;
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
}

a:hover {
  font-weight: bolder;
}

button:not(#paynow) {
  background-color: rgb(198, 86, 88);
  border-color: rgb(162, 75, 76);
  cursor: pointer;
  color: white;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1.2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 0.5rem;
}

#paynow {
  background: linear-gradient(180deg, rgba(255,255,255,1) 61%, rgba(255,255,255,1) 81%, rgba(220,151,153,1) 100%);
  border-style: hidden;
  cursor: pointer;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1.8rem;
  padding-top: 0.22rem;
  padding-bottom: 0.22rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#paynow:hover {
  font-weight: bolder;
}

#paynow:active {
  background: linear-gradient(180deg, rgba(238,238,238,1) 61%, rgba(233,233,233,1) 81%, rgba(184,126,128,1) 100%);
}

.popup .overlay {
  top: 0%;
  left: 0%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: none;
}

.popup .content {
  position: absolute;
  top: 12.5%;
  left: 50%;
  font-size: 1.75rem;
  transform: translate(-50%, 50%) scale(0);
  background: #fff;
  text-align: center;
  padding: 2rem;
  z-index: 2;
  box-sizing: border-box;
}

.popup .close-btn {
  cursor: pointer;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  background-color: transparent;
  color: rgb(198, 86, 88);
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.03rem;
  text-align: center;
  border-radius: 50%;
}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, 50%) scale(1);
}
