:root {
  background-color: white;
  color: rgb(198, 86, 88);
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 17px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 35%, rgba(179, 179, 179, 1) 89%, rgba(143, 143, 143, 1) 100%);
  box-shadow: 0 0 2rem #000;
  text-align: center;
}

nav {
  background: linear-gradient(180deg, rgba(254, 126, 128, 1) 0%, rgba(198, 86, 88, 1) 50%, rgba(91, 39, 40, 1) 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.6rem;
}

nav > a {
  background-color: transparent;
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
}

a:hover {
  font-weight: bolder;
}

button {
  cursor: pointer;
  background-color: rgb(198, 86, 88);
  color: white;
  padding: 0.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  border-color: rgb(162, 75, 76);
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1.2rem;
}

#paynow {
  background: linear-gradient(180deg, rgba(198, 86, 88, 1) 0%, rgba(255, 255, 255, 1) 25%, rgba(252, 247, 247, 1) 73%, rgba(198, 86, 88, 1) 100%);
  border-color: rgb(162, 75, 76);
  font-weight: bold;
  padding: 0.35rem;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1.7rem;
  color: black;
}
