body {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

main {
  display: flex;
  justify-content: center;
}

p {
  font-size: 1.45rem;
  text-align: center;
}

strong {
  font-size: 2rem;
  text-shadow: 1px 1.5px rgb(179, 179, 179);
}

.slider-frame {
  overflow: hidden;
  height: 550px;
  width: 1200px;
  border-radius: 20px;
  box-shadow: 0rem 1rem 1rem lightgrey;
}

@-webkit-keyframes slide_animation{
  0% {left: 0px;}
  10% {left: 0px;}
  20% {left: 1200px;}
  30% {left: 1200px;}
  40% {left: 2400px;}
  50% {left: 2400px;}
  60% {left: 1200px;}
  70% {left: 1200px;}
  80% {left: 0px;}
  90% {left: 0px;}
  100% {left: 0px;}
}

.slide-images {
  width: 3600px;
  height: 550px;
  margin: 0 0 0 -2400px;
  position: relative;
  -webkit-animation-name: slide_animation;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
}

.img-container {
  height: 550px;
  width: 1200px;
  position: relative;
  float: left;
}

#arrows {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 2.25rem;
}

img:not(#logo) {
  height: 550px;
  width: 100%;
}
