:root {
  background-color: white;
  color: rgb(198, 86, 88);
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 17px;
}

p {
  font-size: 1.75rem;
}

strong {
  color: white;
  font-size: 3rem;
  text-shadow: 1px 1.5px rgb(179, 179, 179);
}

#welcome {
  background-image: url("../img/happy-woman.jpg");
  background-color: transparent;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  padding: 6rem;
}

#paynow {
  background: linear-gradient(180deg, rgba(198, 86, 88, 1) 0%, rgba(255, 255, 255, 1) 25%, rgba(252, 247, 247, 1) 73%, rgba(198, 86, 88, 1) 100%);
  border-color: rgb(162, 75, 76);
  cursor: pointer;
  font-weight: bold;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1.7rem;
  padding: 0.35rem;
}

.popup .overlay {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 1;
}

.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;
}

.popup .close-btn {
  cursor: pointer;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  background-color: #222;
  color: rgb(162, 75, 76);
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.03rem;
  text-align: center;
  border-radius: 50%;
}
