html{
    scroll-behavior: smooth;
    background-color: lighten($primary--color, 20%);
}
:root {
    @include basic-font-settings;

    h1,h2,h3 {
        padding: 1rem;
        font: {
            size: $header-font-size;
            weight: 700;
            family: $header-font-family;
        }
    }
}
body {
    background-color: white;
    margin-left: 32px;
    margin-right: 32px;
    position: relative;
    overflow-x: hidden;

    header{
        background-color: white;
        position: sticky;
        width: 100%;
        top: 0;
        box-shadow: 0 0 20px $primary--color;
    }
}