// Typography Settings
$header-font-family: 'Satisfy', cursive;
$default-font-family: 'Raleway', sans-serif;
$font-size: 16px;
$header-font-size: 32px;
$primary--color: rgb(233, 127, 120);

@mixin basic-font-settings {
    font: {
        size: $font-size;
        family: $default-font-family
    }
}

@keyframes slide {
    20% {
        margin-left: 0px;
    }
    40% {
        margin-left: calc(-870px * 1);
    }
    60% {
        margin-left: calc(-870px * 2);
    }
    80% {
        margin-left: calc(-870px * 3);
    }
}

